In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('Resources/Stroke_analysis Cleaned.csv')

In [15]:
df

,age,gender,nhiss,severity_level,severity_desc,mrs,systolic,distolic,glucose,paralysis,smoking,bmi,cholestrol,tos,risk
0,75,Female,4,1,Mild,1,140,89,190,1,1,25,205,1,1
1,68,Female,1,1,Mild,1,133,116,174,1,0,35,206,1,1
2,88,Male,1,1,Mild,1,124,118,79,2,0,35,239,1,1
3,58,Male,4,1,Mild,0,126,105,198,0,0,25,222,1,1
4,50,Female,3,1,Mild,2,140,106,87,0,0,39,222,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4545,67,Male,13,2,Moderately Severe,6,180,83,198,1,2,39,219,3,2
4546,67,Female,20,3,Severe,3,180,88,188,0,2,22,187,1,2
4547,65,Male,6,2,Moderately Severe,4,126,111,227,0,3,23,233,3,2
4548,64,Male,19,3,Severe,5,126,82,262,2,2,28,244,1,2
4549,65,Male,5,2,Moderately Severe,1,169,115,263,0,3,27,231,3,2

In [16]:
stroke_df = df.drop(columns=["severity_desc"])

In [17]:
gender_dict = {'Male': 0, 'Female': 1}
stroke_df = stroke_df.replace({'gender': gender_dict})

In [18]:
stroke_df

,age,gender,nhiss,severity_level,mrs,systolic,distolic,glucose,paralysis,smoking,bmi,cholestrol,tos,risk
0,75,1,4,1,1,140,89,190,1,1,25,205,1,1
1,68,1,1,1,1,133,116,174,1,0,35,206,1,1
2,88,0,1,1,1,124,118,79,2,0,35,239,1,1
3,58,0,4,1,0,126,105,198,0,0,25,222,1,1
4,50,1,3,1,2,140,106,87,0,0,39,222,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4545,67,0,13,2,6,180,83,198,1,2,39,219,3,2
4546,67,1,20,3,3,180,88,188,0,2,22,187,1,2
4547,65,0,6,2,4,126,111,227,0,3,23,233,3,2
4548,64,0,19,3,5,126,82,262,2,2,28,244,1,2
4549,65,0,5,2,1,169,115,263,0,3,27,231,3,2

In [19]:
stroke_df.to_csv('Resources/Prepped_Stroke_Data.csv')