In [4]:
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [5]:
# for displaying all feature from dataset:
pd.pandas.set_option('display.max_columns', None)

In [6]:
# Reading Dataset:
dataset = pd.read_csv("Resources/Prepped_Stroke_Data.csv")
# Top 5 records:
dataset.head()

,age,gender,nhiss,severity_level,mrs,systolic,distolic,glucose,paralysis,smoking,bmi,cholestrol,tos,risk
0,75,1,4,1,1,140,89,190,1,1,25,205,1,1
1,68,1,1,1,1,133,116,174,1,0,35,206,1,1
2,88,0,1,1,1,124,118,79,2,0,35,239,1,1
3,58,0,4,1,0,126,105,198,0,0,25,222,1,1
4,50,1,3,1,2,140,106,87,0,0,39,222,1,2

In [19]:
dataset.corr()

,age,gender,nhiss,severity_level,mrs,systolic,distolic,glucose,smoking,bmi,cholestrol
age,1.000000,-0.033676,0.058495,0.033389,0.041504,0.439812,0.476497,-0.050585,0.320757,0.015409,0.471120
gender,-0.033676,1.000000,-0.171225,-0.147354,-0.098114,-0.078162,-0.073362,-0.044245,-0.056915,-0.022629,-0.086824
nhiss,0.058495,-0.171225,1.000000,0.930975,0.695623,0.369223,0.254689,0.437065,0.101446,0.145126,0.223306
severity_level,0.033389,-0.147354,0.930975,1.000000,0.767575,0.388640,0.239997,0.518909,0.086293,0.140277,0.187086
mrs,0.041504,-0.098114,0.695623,0.767575,1.000000,0.377404,0.218693,0.544069,0.044584,0.167718,0.164646
systolic,0.439812,-0.078162,0.369223,0.388640,0.377404,1.000000,0.590822,0.299251,0.226261,0.118996,0.531017
distolic,0.476497,-0.073362,0.254689,0.239997,0.218693,0.590822,1.000000,0.151600,0.279731,0.111874,0.541236
glucose,-0.050585,-0.044245,0.437065,0.518909,0.544069,0.299251,0.151600,1.000000,-0.047011,0.120565,0.104890
smoking,0.320757,-0.056915,0.101446,0.086293,0.044584,0.226261,0.279731,-0.047011,1.000000,0.006805,0.280354
bmi,0.015409,-0.022629,0.145126,0.140277,0.167718,0.118996,0.111874,0.120565,0.006805,1.000000,0.073444
cholestrol,0.471120,-0.086824,0.223306,0.187086,0.164646,0.531017,0.541236,0.104890,0.280354,0.073444,1.000000

In [20]:
X = dataset.drop(["nhiss","severity_level","mrs"],axis=1)
y = dataset["severity_level"]
X

      age  gender  systolic  distolic  glucose  smoking  bmi  cholestrol
0      75       1       140        89      190        1   25         205
1      68       1       133       116      174        0   35         206
2      88       0       124       118       79        0   35         239
3      58       0       126       105      198        0   25         222
4      50       1       140       106       87        0   39         222
...   ...     ...       ...       ...      ...      ...  ...         ...
4545   67       0       180        83      198        2   39         219
4546   67       1       180        88      188        2   22         187
4547   65       0       126       111      227        3   23         233
4548   64       0       126        82      262        2   28         244
4549   65       0       169       115      263        3   27         231

[4550 rows x 8 columns]

In [24]:
y_adjusted = pd.get_dummies(y.replace(1,"mild").replace(2,"mild_to_moderate").replace(3,"severe").replace(4,"very_severe"),drop_first=True)
y_adjusted

      mild_to_moderate  severe  very_severe
0                    0       0            0
1                    0       0            0
2                    0       0            0
3                    0       0            0
4                    0       0            0
...                ...     ...          ...
4545                 1       0            0
4546                 0       1            0
4547                 1       0            0
4548                 0       1            0
4549                 1       0            0

[4550 rows x 3 columns]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y_adjusted, random_state=98)

# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
nn_model2 = tf.keras.models.Sequential()
nn_model2.add(tf.keras.layers.Dense(units=11, activation="relu", input_dim=11))
nn_model2.add(tf.keras.layers.Dense(units=11, activation="relu"))
#nn_model2.add(tf.keras.layers.Dense(units=11, activation="relu"))

nn_model2.add(tf.keras.layers.Dense(units=3, activation="sigmoid"))
nn_model2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
nn_model2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

ValueError: in user code:

    File "C:\Users\wesan\anaconda3\lib\site-packages\keras\engine\training.py", line 1160, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\wesan\anaconda3\lib\site-packages\keras\engine\training.py", line 1146, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\wesan\anaconda3\lib\site-packages\keras\engine\training.py", line 1135, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\wesan\anaconda3\lib\site-packages\keras\engine\training.py", line 993, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\wesan\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\wesan\anaconda3\lib\site-packages\keras\engine\input_spec.py", line 295, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential_2" is incompatible with the layer: expected shape=(None, 11), found shape=(None, 8)